* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: #333;
  background-color: white;
  font-family: 'nyt-franklin', helvetica, arial, sans-serif;
}

/* Navbar */

.nav-container {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 20px;
  display: grid;
  grid-template-columns: [nav-left-start] auto 
  [nav-left-end nav-logo-start] auto
  [nav-logo-end nav-right-start ]auto
  [nav-right-end];
  justify-content: space-between;
  justify-items: space-between;
  align-content: center;
  align-items: center;
}

.nav-left {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

.nav-logo {
  grid-column: nav-logo-start;
  font-size: 16px;
  height: 26px;
  width: 195px;
}

.nav-right {
  grid-column: nav-right-start;
}

.menu-svg {
  height: 16px;
  width: 16px;
}

.search-svg {
  height: 16px;
  width: 16px;
}

.news-category {
  font-size: 14.25px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 19px;
  color: black;
}

.button-navbar {
  color: white;
  font-size: 11px;
  font-weight: 700;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  padding: 8px 12px;
  text-transform: uppercase;
}

.user-icon-svg {
  width: 16px;
  height: 16px;
  display: none;
}

.mobile-subscribe-login {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr [subscribe-now-start ]
  auto [subscribe-now-end login-start] 
  auto [login-end];
  grid-gap: 4px;
  padding: 8px 20px;
  color: rgb(50, 104, 145);
  text-decoration: none;
  font-size: 10px;
  display: none;
}

.subscribe-now {
  grid-column: subscribe-now-start / subscribe-now-end;
  border-right: 1px solid #e2e2e2;
  padding-right: 8px;
}

.login {
  grid-column: login-start / login-end;
}

/* Article */

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

.content-text {
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 0px auto 20px auto;
  font-family: 'Noto Serif', serif;
  line-height: 30px;
  font-size: 20px;
}

.header-title {
  display: grid;
  justify-content: center;
}

.title {
  font-family: "nyt-cheltenham";
  color: #121212;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px;
  margin: 40px auto 25px auto;
  width: calc(100% - 40px);
  max-width: 640px;
}

.image-area {
  margin-bottom: 30px;
}

.title-image {
  width: 100%;
}

.figcaption-article-image {
  color: #666;
  max-width: 850px;
}

.credits {
  color: #888;
  font-size: 13px;
}

.article-link {
  color: #326891;
}

.subtitle-h2-extra-top-margin {
  font-weight: 700;
  margin-top: 36px;
  font-size: 20px;
}

.subtitle-h2-equal-margin {
  font-weight: 700;
  font-size: 20px;
}

/* article info */

.article-info {
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 0 auto;
  font-family: 'nyt-franklin', helvetica, arial, sans-serif;
}

.author {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 20px;
  margin: 40px 0 20px 0;
}

.author-name {
  text-decoration: underline #ccc;
}

.date-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.date {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.social {
  border-radius: 100%;
  background-color: #eee;
  padding: 3px;
}

/* Create account of log in section */

.createaccount-or-login {
  font-size: 15px;
  color: rgb(51,51,51);
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  margin: 25px auto;
}

.createaccount-link {
  color: rgb(50, 104, 145);
  text-decoration: none;
}

.top-line-createaccount-or-login,
.bottom-line-createaccount-or-login {
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 72px;
}

.top-line-createaccount-or-login {
  margin: 0 auto 18px auto;
}

.bottom-line-createaccount-or-login {
  margin: 18px auto 0 auto;
}


/* Section theory of inflation in article */

.theory-of-inflation-container {
  width: calc(100% - 40px);
  max-width: 945px;
  margin: 30px auto 50px auto;
  font-family: 'Noto Serif', serif;
}

.theory-of-inflation-title {
  font-size: 20px;
  font-family: 'nyt-cheltenham', georgia, 'times new roman', times, serif;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 4px;
}

.theory-of-inflation-summary {
  color: rgb(102, 102, 102);
  font-family: 'nyt-cheltenham-sh', georgia, 'times new roman', times, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-right: 7px;
}

.theory-of-inflation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
  grid-gap: 10px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.theory-of-inflation-grid-item {
  display: grid;
  align-content: start;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}

.theory-of-inflation-picture {
  width: 228px;
  height: 140px;
  justify-self: center;
}

.theory-of-inflation-description-span {
  text-transform: uppercase;
  font-weight: 700;
}

.theory-of-inflation-footer-credits {
  color: rgb(51,51,51);
  font-family: 'nyt-cheltenham', arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.top-line-theory-of-inflation-footer {
  border-top: 1px solid rgb(51,51,51);
  width: 72px;
  margin-bottom: 13px;
  margin-top: 13px;
}

/* Embedded video */

.figure-video {
  max-width: 600px;
  margin: 45px auto 40px auto;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.figcaption-iframe {
  color: rgb(102, 102, 102);
  font-family: 'nyt-imperial', georgia, "times new roman", times, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: 10px 20px 0 0;
}

.figcaption-iframe-span {
  color: rgb(136, 136, 136);
  font-family: 'nyt-imperial', georgia, "times new roman", times, serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 18px;
}

/* Figure Bicep2 telescope */

.figure-bicep2-telescope {
  max-width: 720px;
  margin: 45px auto 40px auto;
  font-family: 'nyt-imperial', georgia, "times new roman", times, serif;
}

.figure-bicep2-telescope-image {
  width: 100%;
}

.figure-bicep2-telescope-figcaption {
  color: rgb(102, 102, 102);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: 10px 20px 0 0;
}

.figure-bicep2-telescope-figcaption-span {
  color: rgb(136, 136, 136);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 18px;
}

/* Footer article */

.printed-newspaper-article {
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 0 auto 20px auto;
  color: rgb(102, 102, 102);
  font-family: 'nyt-franklin', helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.printed-newspaper-article-links > a {
  color: rgb(102, 102, 102);
  text-decoration: underline;
}

.comments-social-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 0 auto;
}

.number-of-comments {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  color: white;
  display: block;
  font-family: 'nyt-franklin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.65px;
  line-height: 24px;
  padding: 5px 0px;
  text-transform: uppercase;
  width: 330px;
}

/* Recommendations section */

.recommendations {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 60px auto 20px auto;
  display: grid;
  grid-template-columns: 8fr 3fr;
  grid-column-gap: 30px;
}

.more-in-space-and-astronomy,
.editors-picks {
  grid-column: 1;
  padding: 15px 0 25px 0;
}

.more-in-space-and-astronomy {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


.recommendations-subtitle {
  font-family: 'nyt-franklin', helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 15px;
}

.more-in-space-and-astronomy-grid,
.editors-picks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.more-in-space-and-astronomy-grid-image,
.editors-picks-grid-image {
  width: 100%;
}

.more-in-space-and-astronomy-grid-image-credits,
.editors-picks-grid-image-credits {
  color: rgb(153, 153, 153);
  font-family: 'nyt-cheltenham-small', georgia, "times new roman";
  font-size: 10px;
  font-weight: 400;
  line-height: 12.3px;
  margin-top: 3px;
  margin-bottom: 4px;
  text-align: right;
}

.more-in-space-and-astronomy-grid-image-title,
.editors-picks-grid-image-title {
  color: rgb(18, 18, 18);
  font-family: 'nyt-cheltenham', georgia, "times new roman", times, serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.more-in-space-and-astronomy-grid-image-date,
.editors-picks-grid-image-date {
  color: rgb(153, 153, 153);
  font-family: 'nyt-cheltenham', georgia, "times new roman", times, serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 20px;
  text-transform: capitalize;
}

/* Most Popular section */

.most-popular {
  grid-column: 2;
  grid-row: 1 / span 2;
  border-top: 1px solid black;
  padding: 15px 0 25px 0;
}

.most-popular-title {
  color: rgb(18, 18, 18);
  font-family: 'nyt-cheltenham', georgia, "times new roman", times, serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  padding: 15px 0;
  border-top: 1px solid rgb(226, 226, 226);
}

/* Footer */

.footer-nav {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 0 auto;
  border-top: 2px solid #e2e2e2;
}

.footer-nav-links {
  margin-top: 1px;
  padding-bottom: 15px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer-nav-links-nyt-logo-home-page-footer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.nyt-logo-footer {
  width: 184px;
  height: 44px;
}

.go-to-home-page {
  align-self: center;
  color: rgb(86, 123, 149);
  font-family: 'nyt-cheltenham-sh', helvetica, arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
  padding-top: 15px;
}

.go-to-home-page-arrows {
  font-size: 8px;
}

.footer-nav-links-title {
  color: rgb(51, 51, 51);
  font-family: 'nyt-cheltenham-sh', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  text-transform: uppercase;
}

.footer-nav-links-title-sublinks-item {
  display: block;
  text-decoration: none;
  color: black;
  font-family: 'nyt-cheltenham-sh', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: 23px;
  line-height: 16px;
  text-transform: capitalize;
}

.footer-nav-links-subscribe {
  border-left: 1px solid #e2e2e2;
  padding-left: 15px;
}

.subscribe-svg-subtitles {
  margin-bottom: 10px;
}

.footer-nav-links-title-sublinks-subscribe-svg {
  height: 13px;
  width: 13px;
  vertical-align: middle;
}

.footer-nav-links-title-sublinks-subscribe-svg-subtitle {
  color: rgb(0, 0, 0);
  font-family: 'nyt-cheltenham-sh', helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  padding-bottom: 0px;
}

.subscribe-email-corporate-education {
  margin-top: 20px;
  margin-bottom: 5px;
}

.subscribe-border-education-mobile {
  border-bottom: 1px solid #e2e2e2;
}

.mobile-replica-languages {
  margin-top: 5px;
}

.footer-nav-links-title-sublinks-item-small {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: 'nyt-cheltenham-sh', helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  font-size: 11px;
  font-weight: 500;
  height: 23px;
  line-height: 21px;
}







/* Media queries */

@media screen and (max-width: 600px) {
  
  .figcaption-iframe {
    margin: 10px 20px 0;
  }
  
  .figure-bicep2-telescope-figcaption {
    margin: 10px 20px 0;
  }

  .number-of-comments {
    width: 100%;
  }

  .mobile-margin-left-icons {
    margin-left: 0px;
  }

  .social-article {
    margin-top: 15px;
  }

  .more-in-space-and-astronomy-grid,
  .editors-picks-grid {
    grid-template-columns: 1fr;
  }

  .more-in-space-and-astronomy-grid-item:nth-child(2),
  .editors-picks-grid-item:nth-child(2) {
    border-top: 1px solid rgb(226, 226, 226);;
    border-bottom: 1px solid rgb(226, 226, 226);;
    padding: 15px 0;
  }

  .more-in-space-and-astronomy-grid-item:nth-child(2) > img,
  .more-in-space-and-astronomy-grid-item:nth-child(3) > img,
  .editors-picks-grid-item:nth-child(2) > img,
  .editors-picks-grid-item:nth-child(3) > img {
    float: right;
    width: 62px;
  }

  .more-in-space-and-astronomy-grid-item:nth-child(2) > .more-in-space-and-astronomy-grid-image-credits,
  .more-in-space-and-astronomy-grid-item:nth-child(3) > .more-in-space-and-astronomy-grid-image-credits,
  .editors-picks-grid-item:nth-child(2) > .editors-picks-grid-image-credits,
  .editors-picks-grid-item:nth-child(3) > .editors-picks-grid-image-credits {
    display: none;
  }

  .more-in-space-and-astronomy-grid-item:nth-child(2) > .more-in-space-and-astronomy-grid-image-title,
  .more-in-space-and-astronomy-grid-item:nth-child(3) > .more-in-space-and-astronomy-grid-image-title,
  .editors-picks-grid-item:nth-child(2) > .editors-picks-grid-image-title,
  .editors-picks-grid-item:nth-child(3) > .editors-picks-grid-image-title {
    width: 80%;
  }

  .more-in-space-and-astronomy-grid-item:nth-child(4),
  .more-in-space-and-astronomy-grid-item:nth-child(5),
  .more-in-space-and-astronomy-grid-item:nth-child(6) {
    display: none;
  }

}

@media screen and (max-width: 739px) {

  .most-popular {
    display: none;
  }

  .recommendations {
    grid-template-columns: 1fr;
  }

}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  
  .more-in-space-and-astronomy-grid,
  .editors-picks-grid {
    grid-template-columns: 1fr 1fr;
  }

  .more-in-space-and-astronomy-grid-item:nth-child(5),
  .more-in-space-and-astronomy-grid-item:nth-child(6),
  .editors-picks-grid-item:nth-child(3) {
    display: none;
  }

}

@media screen and (max-width: 1025px) {
   
  .nav-container {
    align-items: center;
    height: 53px;
  }

  .nav-left {
    display: block;
    align-self: center;
  }

  .search-svg,
  .news-category {
    display: none;
  }

  .button-navbar {
    display: none;
  }

  .user-icon-svg {
    display: block;
  }

  .mobile-subscribe-login {
    display: grid;
  }

}

@media screen and (max-width: 1149px) {

  .footer-nav-links-title-sublinks {
    display: none;
  }

  .footer-nav-links {
    grid-template-columns: 1fr;
  }

  .footer-nav-links-subscribe {
    border-left: 0;
    padding-left: 0px;
  }

  .mobile-nav-links {
    border-top: 1px solid #e2e2e2;
    display: grid;
    align-items: center;
    padding: 15px 0 5px 0;
  }

  .footer-nav-links {
    padding-bottom: 0px;
  }

}

@media screen and (max-width: 1200px) {

  .figcaption-article-image {
    margin: 10px 20px 0;
  }

}

@media screen and (max-width: 1440px) {

  .figure-bicep2-telescope {
    max-width: 600px;
  }

}
