* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: #333;
  background-color: white;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

/* Page layout */

.container {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
}

/* Navbar */

.nav-container {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 20px;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: [nav-left-start] auto 
  [nav-left-end nav-logo-start] auto
  [nav-logo-end nav-right-start ]auto
  [nav-right-end];
  justify-content: space-between;
  justify-items: space-between;
  align-content: center;
  align-items: center;
}

.nav-left {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

.nav-logo {
  grid-column: nav-logo-start;
  font-size: 16px;
  height: 26px;
  width: 195px;
}

.nav-right {
  grid-column: nav-right-start;
}

.menu-svg {
  height: 16px;
  width: 16px;
}

.search-svg {
  height: 16px;
  width: 16px;
}

.news-category {
  font-size: 14.25px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 19px;
  color: black;
}

.button-navbar {
  color: white;
  font-size: 11px;
  font-weight: 700;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  padding: 8px 12px;
  text-transform: uppercase;
}

.user-icon-svg {
  width: 16px;
  height: 16px;
  display: none;
}

.mobile-subscribe-login {
  text-transform: uppercase;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 4px;
  padding: 8px 20px;
  color: rgb(50, 104, 145);
  text-decoration: none;
  font-size: 10px;
  display: none;
}

.subscribe-now {
  grid-column: 2;
  border-right: 1px solid #e2e2e2;
  padding-right: 8px;
}

.login {
  grid-column: -1;
}

/* Article */

.content-container {
  grid-column: 2 / span 1;
}

.content-text {
  /* display: grid; */

  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 0px auto 20px auto;
  font-family: 'Noto Serif', serif;
  line-height: 30px;
  font-size: 20px;
}

.header-title {
  display: flex;
  justify-content: center;
}

.title {
  font-family: "nyt-cheltenham";
  color: #121212;
  font-size: 40px;
  font-style: italic;
  margin: 30px 0;
  
}

.image-area {
  margin-bottom: 30px;
}

.title-image {
  width: 100%;
}

figcaption {
  color: #666;
  max-width: 850px;
}

.credits {
  color: #888;
  font-size: 13px;
}

.article-link {
 color: #326891;
}

.createaccount-or-login {
  font-size: 15px;
  color: rgb(51,51,51);
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  /* border: 1px solid black; */
  margin: 25px auto;
}

.createaccount-link {
  color: rgb(50, 104, 145);
  text-decoration: none;
}

.top-line-createaccount-or-login,
.bottom-line-createaccount-or-login {
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 72px;
}

.top-line-createaccount-or-login {
  margin: 0 auto 18px auto;
}

.bottom-line-createaccount-or-login {
  margin: 18px auto 0 auto;
}

.subtitle-h2 {
  margin-top: 16px;
  font-size: 20px;
}

/* Section theory of inflation in article */

.theory-of-inflation-container {

  /* max-width: 975;
  margin: 0 auto 50px auto; */

  display: grid;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: calc(100% - 40px);
  max-width: 945px;
  margin: 0px auto 50px auto;
  font-family: 'Noto Serif', serif;
  /* line-height: 30px; */
  /* font-size: 20px; */

  border: 1px solid black;
}

.theory-of-inflation-title {
  font-size: 20px;
  font-family: 'nyt-cheltenham', georgia, 'times new roman', times, serif;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 2px;
}

.theory-of-inflation-summary {
  color: rgb(102, 102, 102);
  font-family: 'nyt-cheltenham-sh', georgia, 'times new roman', times, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-right: 7px;
}












@media screen and (max-width: 1023px) {
   
  .nav-container {
    align-items: center;
    height: 53px;
  }

  .nav-left {
    display: block;
    align-self: center;
  }

  .search-svg,
  .news-category {
    display: none;
  }

  .button-navbar {
    display: none;
  }

  .user-icon-svg {
    display: block;
  }

  .mobile-subscribe-login {
    display: grid;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content-container {
    grid-column: 1 / -1;
  }

  figcaption {
    margin: 10px 20px 0;
  }
}
